## import liberaries

In [1]:
import attr
import requests
from bs4 import BeautifulSoup
import csv
from itertools import zip_longest
import pandas as pd

## server request

In [10]:
result=requests.get("https://wuzzuf.net/search/jobs/?a=spbg&q=python")
src=result.content
soup=BeautifulSoup(src,"lxml")

In [11]:
soup=BeautifulSoup(src,"lxml")
job_title=soup.find_all("h2",{'class':"css-m604qf"})
#print(job_title)
company_name=soup.find_all("a",{"class":"css-17s97q8"})
#print(company_name[-1].text)
area=soup.find_all("span",{"class":"css-5wys0k"})

In [12]:
print(job_title[-2].text)

Python Developer - Internship

In [5]:
job_titles=[]
company_names=[]
areas=[]
links=[]
salaries=[]
n=0
result=requests.get(f"https://wuzzuf.net/search/jobs/?a=spbg&q=python&start={n}")

In [6]:
for n in range (8):
    result=requests.get(f"https://wuzzuf.net/search/jobs/?a=spbg&q=python&start={n}")
    src=result.content
    soup=BeautifulSoup(src,"lxml")
    for i in range (len(job_title)):
        job_titles.append(job_title[i].text)
        company_names.append(company_name[i].text)
        areas.append(area[i].text)
        links.append(job_title[i].find("a").attrs["href"])
        n=+1

In [13]:
file_list=[job_titles,company_names,areas,salaries]
exported=zip_longest(*file_list)

In [14]:
with open ("wuzzuff.csv","w")as myfile:
    wr=csv.writer(myfile)
    wr.writerow(["title","company","area","salary"])
    wr.writerows(exported)

In [15]:
df=pd.read_csv("wuzzuff.csv")
df

,title,company,area,salary
0,.css-nn640c{-webkit-text-decoration:none;text-...,Paymob Solutions,"Maadi, Cairo, Egypt",NaN
1,Python Developer,LavaLoon,"Nasr City, Cairo, Egypt",NaN
2,Python Software Developer,Xontel,"Glim, Alexandria, Egypt",NaN
3,Senior Software Engineer - Python Back End,LxT,"Mohandessin, Giza, Egypt",NaN
4,"Software Engineer - Java, Spring And Python",YDS yasar digital services,"6th of October, Giza, Egypt",NaN
...,...,...,...,...
115,Asterisk / Python Application Developer,Tqniat Lab L.L.C,"Nasr City, Cairo, Egypt",NaN
116,Python Developer,Arabian Advanced Systems,"New Cairo, Cairo, Egypt",NaN
117,Senior Software Engineer - Backend Python,unilearn,"6th of October, Giza, Egypt",NaN
118,Python Developer - Internship,RaccoonPlatform,"Smart Village, Giza, Egypt",NaN
119,Software Automation Engineer,AFKAR Technology,"Smart Village, Giza, Egypt",NaN

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    810 non-null    object
 1   company  810 non-null    object
 2   area     810 non-null    object
 3   salary   0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 25.4+ KB